body{
  font-family: Arial;
}

h1, h2{
  font-family: 'Inconsolata';
  background: yellow;
  width:50%;
}

.songname{
  font-weight: bold;
  color: #1BC242;
  
}
ul{
  border: 1px solid grey;
  background: #809BE8;
  padding: 20px;
  margin-left:100px
}
